.vscode
__pycache__

# A Surviellance folder with Images and Videos folders inside where the images/videos from the drone are stored
Surveillance

# Reaources folder contains haarcascade_frontalface_default.xml
Resources
